// mui 번들 사이즈로 babel-plugin-import 세팅
{
    "presets": ["next/babel"],
    "plugins": [
      [
        "babel-plugin-import",
        {
          "libraryName": "@material-ui/core",
          "libraryDirectory": "",
          "camel2DashComponentName": false
        },
        "core"
      ],
      [
        "babel-plugin-import",
        {
          "libraryName": "@material-ui/icons",
          "libraryDirectory": "",
          "camel2DashComponentName": false
        },
        "icons"
      ]
    ]
  }